@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    background-color: #232946;
    margin: 0;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.eight-bit-ui {
    background-color: #fff;
    border: solid 2px black;
    outline: solid 3px black;
    outline-offset: -7px;
}

.buttons:hover {
    background-color: rgb(230, 230, 230);
}

#banner {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;

    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;

    box-shadow: 1px 3px 10px white;

}

#banner,
#game-info {
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    text-align: center;
}

#game-info {
    color: #fff;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 640px;
    line-height: 30px;
    align-self: center;
}

/* Choice button styles */
#choice-buttons,
#rock-choice,
#paper-choice,
#scissors-choice {
    display: flex;
}

#rock-choice,
#paper-choice,
#scissors-choice {
    flex-direction: column;
}

#choice-buttons {
    margin-top: 50px;
    justify-content: center;
    column-gap: 100px;
}

.input-buttons {
    width: 250px;
    height: 200px;

    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    font-size: 24px;

    border-radius: 20px;
}

/* Result Messages */
#results-click-rock,
#results-click-paper,
#results-click-scissors {
    max-width: 250px;

    margin-top: 10px;

    color: #fff;
    font-size: 12px;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    line-height: 15px;

    text-align: center;
}

#score-board,
#player-box,
#computer-box {
    display: flex;
}

#player-box,
#computer-box {
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
}

#score-board {
    margin-top: 50px;

    justify-content: center;
    column-gap: 150px;
}

#player-score-text,
#computer-score-text {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    font-size: 12px;
}

#content {
    display: flex;
    flex-direction: column;
}

#reset-btn {
    margin-top: 60px;
    align-self: center;

    padding: 10px 30px;

    border-radius: 10px;
}